# ==========================================
# HACKNEX 2026 FRONTEND ENVIRONMENT VARIABLES
# ==========================================

# Frontend App Title
VITE_APP_TITLE="HackNEX 2026 | National Level Hackathon"

# Media Storage & CDN (Cloudinary)
VITE_CLOUDINARY_CLOUD_NAME=hacknex-cloud

# Monitoring & Error Tracking (Sentry)
SENTRY_DSN=https://placeholder@o0.ingest.sentry.io/0
